{% extends "base.html" %}
{% block title %} Wetcave Dashboard{% endblock %}
{% comment %}{% block contentblock %}{% endcomment %}
{% comment %}{%load plotly_dash%}{% endcomment %}
{% comment %}<div id="contentbox" clas="h-full w-full flex flex-grow items-center justify-center">{% endcomment %}
{% comment %}[><div class="flex-grow flex-1 text-white bg-slate-400"><]{% endcomment %}
{% comment %}{%plotly_app name="WetcaveDash"%}{% endcomment %}
{% comment %}</div>{% endcomment %}
{% comment %}{% endblock %}{% endcomment %}
