html { 
height:100%; 
}


footer {
position:fixed;
bottom:0;
width:100%;
text-align:center;
min-height:15vh;
}

#contentbox {
background-image:url(https://imaggeo.egu.eu/media/thumbs/previews/2018/02/15/12922.jpg.2048x1536_q85.webp);
min-height: 85vh;
}

