{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Wetcave{% endblock %}</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="dark:bg-slate-900 font-sans leading-normal tracking-normal flex flex-col min-h-screen">
    {% block header %}
    {% include "header.html" %}
    {% endblock %}

    {% block contentblock %}
    <div id="contentbox" class="flex-grow flex-1">
        {{content|safe}}
    </div>
    {% endblock %}
    {% include "footer.html" %}
</body>
</html>
