{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'style.css' %}">
<head>
    <title>{% block title %}Wetcave{% endblock %}</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="bg-gray-50 font-sans leading-normal tracking-normal">
    {% include "header.html" %}
    {% comment %}<div id="sidebar">{% endcomment %}
        {% comment %}{% block sidebar %}{% endcomment %}
        {% comment %}<ul>{% endcomment %}
            {% comment %}<li><a href="/">Home</a></li>{% endcomment %}
            {% comment %}<li><a href="/blog/">Blog</a></li>{% endcomment %}
        {% comment %}</ul>{% endcomment %}
        {% comment %}{% endblock %}{% endcomment %}
    {% comment %}</div>{% endcomment %}

    <div id="contentbox">
        {{content|safe}}
        {% comment %}{% block content %}{% endblock %}{% endcomment %}
    </div>
    {% include "footer.html" %}
</body>
</html>
