[Unit]
Description=uWSGI for wetcave
After=syslog.target

[Service]
Group=www-data
RuntimeDirectory=uwsgi
RuntimeDirectoryMode=775
ExecStart=/usr/local/bin/uwsgi --ini /home/roelof/pizero-watertank/wetcave-config/uwsgi.ini
# Requires systemd version 211 or newer
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
